* {
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Text", sans-serif;
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: hsl(237, 18%, 59%);
  background-image: url("./images/pattern-hills.svg"),
    url("./images/bg-stars.svg"), linear-gradient(#1e1e28, #241e2c);
  background-position: bottom, top;
  background-size: contain;
  background-repeat: no-repeat;
  /* overflow: hidden; */
}

#main-box {
  flex: 1;
  padding: 5rem;
}
#flip-clock {
  padding: 0 10rem;
}

h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3rem;
}

footer {
  text-align: center;
  padding: 2rem;
}
footer a {
  text-decoration: none;
  color: hsl(237, 18%, 80%);
}
footer a:hover {
  color: hsl(345, 95%, 68%);
}
footer a img {
  padding: 2rem 1.2rem;
}
footer a img:hover {
  filter: brightness(0) saturate(100%) invert(55%) sepia(54%) saturate(2555%)
    hue-rotate(310deg) brightness(100%) contrast(98%);
}
@media screen and (max-width: 900px) {
  #flip-clock {
    padding: 0;
  }
}
@media screen and (max-width: 660px) {
  #main-box {
    padding: 5rem 0rem;
  }
}
